<p-toast key ="chat" position="center"></p-toast>
<div class="relative">
  <div class="z-30 absolute w-3/4 my-40 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
    <h5 *ngIf="userSearchingBegin"> Searching User... </h5>
    <p-progressBar *ngIf="userSearchingBegin"
                   mode="indeterminate"></p-progressBar>

    <h5 *ngIf="!isAssetsLoadCompleted" class="text-white"> {{loadingMessage}} </h5>
    <p-progressBar *ngIf="!isAssetsLoadCompleted"
                   [value]="currProgress"></p-progressBar>
  </div>
  <!-- tailwindClass should be used in styleClass for primeng components-->
  <p-toolbar styleClass="py-1 opacity-100 bg-blue-50 border-transparent rounded-full">
    <div class="p-toolbar-group-left z-30">
      <p-button styleClass="rounded-full mx-1"
                label="Join"
                icon="pi pi-plus"
                (onClick)="startChat()"
                [disabled]="disableSearch || !isAssetsLoadCompleted"></p-button>
      <p-button icon="pi pi-times"
                [disabled]="!disableSearch || !isAssetsLoadCompleted"
                (onClick)="cancelSearch()"
                styleClass="p-button-danger rounded-full mx-1"></p-button>
      <p-splitButton [label]="menuItemsLabel"
                     icon="pi pi-check"
                     [model]="items"
                     [disabled]="disableSearch || !isAssetsLoadCompleted"
                     styleClass="p-button-warning rounded-full mx-1"></p-splitButton>
    </div>
  </p-toolbar>
  <app-canvas [selectedChar]="selectedChar"
              class="absolute inset-0 flex z-10"></app-canvas>
</div>

<div *ngIf="showTextBox" class="flex absolute insert-x-0 bottom-20 z-30 w-full justify-center w-full">
  <input type="text"
         pInputText
         style="width:50vw;
                background: white;
                color: black;
                margin-left: 2em"
         (keyup)="submitKeyUpInput($event)"
         [(ngModel)]="textChatInput"/>
  <p-button styleClass=" ml-5"
            (onClick)="onTextInputSubmit()">
    Enter
  </p-button>
</div>
