<div class="p-col-12 p-d-flex p-ai-center p-jc-center">
  <div *ngIf="!isSubmitting" class="p-fluid">
    <div class="p-field">
      <label for="username">Username</label>
      <input pInputText id="username"
             type="text"
             autocomplete="off"
             [(ngModel)]="username"/>
    </div>
<!--    <div class="p-field">-->
<!--      <label for="password">Password</label>-->
<!--      <p-password id="password"-->
<!--                  [(ngModel)]="password"-->
<!--                  [toggleMask]="true">-->
<!--      </p-password>-->
<!--    </div>-->
    <p-button label="Submit"
              (onClick)="submit()"
              [disabled]="!username">
      <!--              || !password-->
    </p-button>
  </div>
  <p-progressSpinner *ngIf="isSubmitting"></p-progressSpinner>
</div>
