<p-toast key="home" position="top-right"></p-toast>
<div class="flex relative flex-col h-screen overflow-y-hidden justify-content">
  <div class="z-0" style="pointer-events: all">
    <app-header></app-header>
  </div>
  <div class="flex-1 overflow-y-hidden h-auto">
    <router-outlet></router-outlet>
  </div>
  <div *ngIf="enableBackground"
       #backgroundRendererContainer
       class="absolute h-screen w-full overflow-x-hidden overflow-y-hidden pointer-events-none">
  </div>
  <div class="z-30 absolute bottom-0 w-full">
    <app-footer></app-footer>
  </div>
</div>
